.chat-side
 .side-header
  .side-header__box
   .side-header__box__user-name
    %p daiki
   .side-header__box__menu
    .side-header__box__menu__new-group
     = link_to "#" do
      = icon("fa","edit")
    .side-header__box__menu__edit-user
     = link_to "#" do
      = icon("fa","cog")

 .groups
  .group
   .group__group-name
    %P techcamp
   .group__latest-message
    %p まだメッセージはありません